@inject Microsoft.AspNetCore.Identity.SignInManager<LaMusicCatalog.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
<form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
    <a id="catalogLink" class="logo text-dark" asp-area="" asp-controller="Home" asp-action="Index">La Music Catalog</a>
    <a id="catalogLink" class="text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Catalog</a>
    @if (User.Identity.IsAuthenticated)
    {
    <a id="catalogLink" class="text-dark" asp-area="" asp-controller="PersonalArea" asp-action="Index">Personal Area</a>
    }
    <a id="registerLink" class="text-dark nav__link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    <a id="loginLink" class="text-dark nav__link">Hello, @User.Identity.Name! </a>
</form> }
else
{
    <a id="catalogLink" class="logo text-dark" asp-area="" asp-controller="Home" asp-action="Index">La Music Catalog</a>
    <a id="catalogLink" class="text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Catalog</a> 
    @if (User.Identity.IsAuthenticated)
    {
        <a id="catalogLink" class="text-dark" asp-area="" asp-controller="PersonalArea" asp-action="Index">Personal Area</a>
    }
    <a class="text-dark nav__link" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
    <a class="text-dark nav__link" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
}