@{
    ViewData["Title"] = "Home Page";
}

<div style="font-family: cursive" class="text-center">
    <h1 class="display-4">La Music Catalog </h1>
</div>
<div class="container" style="font-size: 28px">
    Добро пожаловать на сайт la music catalog, здесь вы можете найти и скачать аккорды или ноты более надцати тысяч композиций.<br />
    Зарегистрировнные пользователи имеют возможность добавлять наиболее понравившиеся композиции в свой личный personal area.<br />
    Также советуем Вам зарегистрироваться на сайте, чтобы не мучать свою психику рекламными объявлениями.
</div>
